### 11 What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?

In [1]:
import numpy as np

In [2]:
num_grid = [[8, 2, 22, 97, 38, 15, 0, 40, 0, 75, 4, 5, 7, 78, 52, 12, 50, 77, 91, 8],
            [49, 49, 99, 40, 17, 81, 18, 57, 60, 87, 17, 40, 98, 43, 69, 48, 4, 56, 62, 0],
            [81, 49, 31, 73, 55, 79, 14, 29, 93, 71, 40, 67, 53, 88, 30, 3, 49, 13, 36, 65],
            [52, 70, 95, 23, 4, 60, 11, 42, 69, 24, 68, 56, 1, 32, 56, 71, 37, 2, 36, 91],
            [22, 31, 16, 71, 51, 67, 63, 89, 41, 92, 36, 54, 22, 40, 40, 28, 66, 33, 13, 80],
            [24, 47, 32, 60, 99, 3, 45, 2, 44, 75, 33, 53, 78, 36, 84, 20, 35, 17, 12, 50],
            [32, 98, 81, 28, 64, 23, 67, 10, 26, 38, 40, 67, 59, 54, 70, 66, 18, 38, 64, 70],
            [67, 26, 20, 68, 2, 62, 12, 20, 95, 63, 94, 39, 63, 8, 40, 91, 66, 49, 94, 21],
            [24, 55, 58, 5, 66, 73, 99, 26, 97, 17, 78, 78, 96, 83, 14, 88, 34, 89, 63, 72],
            [21, 36, 23, 9, 75, 0, 76, 44, 20, 45, 35, 14, 0, 61, 33, 97, 34, 31, 33, 95],
            [78, 17, 53, 28, 22, 75, 31, 67, 15, 94, 3, 80, 4, 62, 16, 14, 9, 53, 56, 92],
            [16, 39, 5, 42, 96, 35, 31, 47, 55, 58, 88, 24, 0, 17, 54, 24, 36, 29, 85, 57],
            [86, 56, 0, 48, 35, 71, 89, 7, 5, 44, 44, 37, 44, 60, 21, 58, 51, 54, 17, 58],
            [19, 80, 81, 68, 5, 94, 47, 69, 28, 73, 92, 13, 86, 52, 17, 77, 4, 89, 55, 40],
            [4, 52, 8, 83, 97, 35, 99, 16, 7, 97, 57, 32, 16, 26, 26, 79, 33, 27, 98, 66],
            [88, 36, 68, 87, 57, 62, 20, 72, 3, 46, 33, 67, 46, 55, 12, 32, 63, 93, 53, 69],
            [4, 42, 16, 73, 38, 25, 39, 11, 24, 94, 72, 18, 8, 46, 29, 32, 40, 62, 76, 36],
            [20, 69, 36, 41, 72, 30, 23, 88, 34, 62, 99, 69, 82, 67, 59, 85, 74, 4, 36, 16],
            [20, 73, 35, 29, 78, 31, 90, 1, 74, 31, 49, 71, 48, 86, 81, 16, 23, 57, 5, 54],
            [1, 70, 54, 71, 83, 51, 54, 69, 16, 92, 33, 48, 61, 43, 52, 1, 89, 19, 67, 48]]

In [3]:
num_grid[19][19]

48

In [4]:
multiples_lst = []
for j in range(20):
    for i in range(0,17):
        mult = num_grid[j][i]*num_grid[j][i+1]*num_grid[j][i+2]*num_grid[j][i+3]
        multiples_lst.append(mult)
for j in range(17):
    for i in range(20):
        mult = num_grid[i][j]*num_grid[i][j+1]*num_grid[i][j+2]*num_grid[i][j+3]
        multiples_lst.append(mult)
for j in range(17):
    for i in range(17):
        mult = num_grid[i][j]*num_grid[i+1][j+1]*num_grid[i+2][j+2]*num_grid[i+3][j+3]
        multiples_lst.append(mult)
for j in range(17):
    for i in range(17):
        mult = num_grid[i+3][j]*num_grid[i+2][j+1]*num_grid[i+1][j+2]*num_grid[i][j+3]
        multiples_lst.append(mult)

In [5]:
len(multiples_lst)

1258

In [6]:
multiples_lst.count(0)

78

In [7]:
2*17**2 + 2*20*17

1258

In [8]:
max(multiples_lst)

70600674

### 12 What is the value of the first triangle number to have over five hundred divisors?

The sequence of triangle numbers is generated by adding the natural numbers. So the 7th triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28.

The first ten terms would be:

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

div(10) = 2,5,1,10

div(28) = 1, 28, 2, 14, 4, 7

In [9]:
# All numbers (except square numbers not including 2) have an even number of divisors, we only need to find the first set to know the rest
# ie 10 has 1 and 2, we find the complementory divisors by taking 10/1 = 10 and 10/2 = 5
# We can therefore write code that finds a numbers divisors up to sqrt(num) (adding 2 to a count each time)
# these are half of the divisors
# We have to add 1 if the number is a perfect square ie div(36) = 1,36, 2,18, 3,12, 4,9, 6

In [10]:
def sqr_num(i):
        return i*(i+1)/2

In [11]:
sqr_num(7)

28.0

In [12]:
def divisors(n):
    number_of_factors = 0
    for i in range(1, int((np.sqrt(n)))+1):
        if n % i == 0:
            number_of_factors +=2
        if i*i==n:
            number_of_factors -=1
    return number_of_factors

In [13]:
divisors(36)

9

In [14]:
for n in range(1,1000000):
    if n%2==0:
        cnt=divisors(n/2)*divisors(n+1)
    else:
        cnt=divisors(n)*divisors((n+1)/2)
    if cnt >= 500:
        print(sqr_num(n))
        break

76576500.0

In [15]:
np.sqrt(76576500.0*2)

12375.499989899397

In [16]:
sqr_num(12375)

76576500.0

In [17]:
divisors(76576500)

576

### 13 What are the first 10 digits of the sum of the following one-hundred 50-digit numbers.

In [19]:
num_str = """37107287533902102798797998220837590246510135740250
46376937677490009712648124896970078050417018260538
74324986199524741059474233309513058123726617309629
91942213363574161572522430563301811072406154908250
23067588207539346171171980310421047513778063246676
89261670696623633820136378418383684178734361726757
28112879812849979408065481931592621691275889832738
44274228917432520321923589422876796487670272189318
47451445736001306439091167216856844588711603153276
70386486105843025439939619828917593665686757934951
62176457141856560629502157223196586755079324193331
64906352462741904929101432445813822663347944758178
92575867718337217661963751590579239728245598838407
58203565325359399008402633568948830189458628227828
80181199384826282014278194139940567587151170094390
35398664372827112653829987240784473053190104293586
86515506006295864861532075273371959191420517255829
71693888707715466499115593487603532921714970056938
54370070576826684624621495650076471787294438377604
53282654108756828443191190634694037855217779295145
36123272525000296071075082563815656710885258350721
45876576172410976447339110607218265236877223636045
17423706905851860660448207621209813287860733969412
81142660418086830619328460811191061556940512689692
51934325451728388641918047049293215058642563049483
62467221648435076201727918039944693004732956340691
15732444386908125794514089057706229429197107928209
55037687525678773091862540744969844508330393682126
18336384825330154686196124348767681297534375946515
80386287592878490201521685554828717201219257766954
78182833757993103614740356856449095527097864797581
16726320100436897842553539920931837441497806860984
48403098129077791799088218795327364475675590848030
87086987551392711854517078544161852424320693150332
59959406895756536782107074926966537676326235447210
69793950679652694742597709739166693763042633987085
41052684708299085211399427365734116182760315001271
65378607361501080857009149939512557028198746004375
35829035317434717326932123578154982629742552737307
94953759765105305946966067683156574377167401875275
88902802571733229619176668713819931811048770190271
25267680276078003013678680992525463401061632866526
36270218540497705585629946580636237993140746255962
24074486908231174977792365466257246923322810917141
91430288197103288597806669760892938638285025333403
34413065578016127815921815005561868836468420090470
23053081172816430487623791969842487255036638784583
11487696932154902810424020138335124462181441773470
63783299490636259666498587618221225225512486764533
67720186971698544312419572409913959008952310058822
95548255300263520781532296796249481641953868218774
76085327132285723110424803456124867697064507995236
37774242535411291684276865538926205024910326572967
23701913275725675285653248258265463092207058596522
29798860272258331913126375147341994889534765745501
18495701454879288984856827726077713721403798879715
38298203783031473527721580348144513491373226651381
34829543829199918180278916522431027392251122869539
40957953066405232632538044100059654939159879593635
29746152185502371307642255121183693803580388584903
41698116222072977186158236678424689157993532961922
62467957194401269043877107275048102390895523597457
23189706772547915061505504953922979530901129967519
86188088225875314529584099251203829009407770775672
11306739708304724483816533873502340845647058077308
82959174767140363198008187129011875491310547126581
97623331044818386269515456334926366572897563400500
42846280183517070527831839425882145521227251250327
55121603546981200581762165212827652751691296897789
32238195734329339946437501907836945765883352399886
75506164965184775180738168837861091527357929701337
62177842752192623401942399639168044983993173312731
32924185707147349566916674687634660915035914677504
99518671430235219628894890102423325116913619626622
73267460800591547471830798392868535206946944540724
76841822524674417161514036427982273348055556214818
97142617910342598647204516893989422179826088076852
87783646182799346313767754307809363333018982642090
10848802521674670883215120185883543223812876952786
71329612474782464538636993009049310363619763878039
62184073572399794223406235393808339651327408011116
66627891981488087797941876876144230030984490851411
60661826293682836764744779239180335110989069790714
85786944089552990653640447425576083659976645795096
66024396409905389607120198219976047599490197230297
64913982680032973156037120041377903785566085089252
16730939319872750275468906903707539413042652315011
94809377245048795150954100921645863754710598436791
78639167021187492431995700641917969777599028300699
15368713711936614952811305876380278410754449733078
40789923115535562561142322423255033685442488917353
44889911501440648020369068063960672322193204149535
41503128880339536053299340368006977710650566631954
81234880673210146739058568557934581403627822703280
82616570773948327592232845941706525094512325230608
22918802058777319719839450180888072429661980811197
77158542502016545090413245809786882778948721859617
72107838435069186155435662884062257473692284509516
20849603980134001723930671666823555245252804609722
53503534226472524250874054075591789781264330331690"""

In [20]:
num_str = num_str.replace('\n', '')

In [21]:
len(num_str)

5000

In [22]:
num_str[50:100]

'46376937677490009712648124896970078050417018260538'

In [23]:
num_lst = [int(num_str[50*i:50*(i+1)]) for i in range(100)]

In [24]:
str(sum(num_lst))[:10]

'5537376230'

### 14 Longest Collatz sequence

The following iterative sequence is defined for the set of positive integers:

n → n/2 (n is even)

n → 3n + 1 (n is odd)

Using the rule above and starting with 13, we generate the following sequence:

13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1

It can be seen that this sequence (starting at 13 and finishing at 1) contains 10 terms. Although it has not been proved yet (Collatz Problem), it is thought that all starting numbers finish at 1.

Which starting number, under one million, produces the longest chain?

NOTE: Once the chain starts the terms are allowed to go above one million.

In [25]:
def len_collatz_seq(n):
    
    count = 1

    while n > 1:
        
        if n%2 == 0:
            n /= 2
            
        else:
            n = 3*n +1
            
        count += 1
    
    return count

In [26]:
len_collatz_seq(10)

7

In [27]:
highest = 1
num = 1

for i in range(1000000):
    ln = len_collatz_seq(i)
    
    if ln > highest:
        highest = ln
        num = i
print(highest, num)

525 837799

In [28]:
len_collatz_seq(837799)

525

### How many such routes are there through a 20×20 grid?

In [29]:
def factorial(n):
    fact = 1

    for i in range(1,n+1): 
        fact *= i 
    return fact

In [30]:
factorial(3)

6

In [31]:
# The number of unique paths yeilded by a 2x2 grid is equal to the number of multiset permutations
# (2n!)/(n!)(n!)

factorial(4)/(factorial(2)*factorial(2))

6.0

In [32]:
def routes(n):
    return factorial(2*n)/(factorial(n)*factorial(n))

In [33]:
routes(20)

137846528820.0

### 16 Power digit sum

2^15 = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.

What is the sum of the digits of the number 2^1000?

In [34]:
# Digit sum is something to do with mod ten? Like the divisibility tests

In [35]:
def digit_sum(n):
    str_n = str(n)
    sum = 0
    for digit in str_n:
        sum += int(digit)
    return sum

In [36]:
digit_sum(15)

6

In [37]:
2**14

16384

In [38]:
digit_sum(2**1000)

1366

2^1000 = (2^6)^166 * 2^4 congruent to 2^4 (mod 9) = 7 (mod 9)

In [39]:
digit_sum(2**1000)%9

7

### 17 Number letter counts

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [40]:
# Dictionary of 1-100, exempt cases are the < 21,

In [41]:
num_dct = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine', 10:'ten', 
           11:'eleven', 12:'twelve', 13:'thirteen', 14:'fourteen', 15:'fifteen', 16:'sixteen', 17:'seventeen',
          18:'eighteen', 19:'nineteen', 20:'twenty', 30:'thirty', 40:'forty', 50:'fifty', 60:'sixty', 70:'seventy',
          80:'eighty', 90:'ninety', 100:'hundred', 1000:'onethousand'}

In [42]:
# 137

num_dct[1]+num_dct[100]+'and'+num_dct[30]+num_dct[7]

'onehundredandthirtyseven'

In [43]:
n = 137
stn = str(n)
ln = len(stn)
i = 0

while ln > 0:

    print(num_dct[int(stn[i]) * 10**(ln -1)])
    
    i += 1
    ln -= 1

hundred
thirty
seven

In [44]:
n = 137
stn = str(n)
ln = len(stn)
i = 0

ot = ''

while ln > 0:
    
    if ln == 3:
        ot += num_dct[int(stn[i])] + num_dct[int(stn[i]) * 10**(ln -1)] + 'and'

    else:
        ot += num_dct[int(stn[i]) * 10**(ln -1)]
    
    i += 1
    ln -= 1
    
print(ot)

onehundredandthirtyseven

In [45]:
def num_to_str(n):

    stn = str(n)
    ln = len(stn)
    i = 0
    ot = ''
    
    if n < 21:
        
        return num_dct[n]
    
    elif n == 1000:
        
        return num_dct[n]
        
    else:
        while ln > 0:
            
            if stn[i] == '0':
                i += 1
                ln -= 1  
                
            else:
                if ln == 3:
                    ot += num_dct[int(stn[i])] + num_dct[10**(ln -1)]

                    if stn[1] != '0' or stn[2] != '0':
                        ot += 'and'

                elif ln == 2 and int(stn[i] + stn[i+1]) < 21:
                    ot += num_dct[int(stn[i] + stn[i+1])]
                    break
                    
                else:
                    ot += num_dct[int(stn[i]) * 10**(ln -1)]

                i += 1
                ln -= 1

    return ot

In [46]:
num_to_str(119)

'onehundredandnineteen'

In [47]:

for i in range(109,121):
    print(num_to_str(i))

onehundredandnine
onehundredandten
onehundredandeleven
onehundredandtwelve
onehundredandthirteen
onehundredandfourteen
onehundredandfifteen
onehundredandsixteen
onehundredandseventeen
onehundredandeighteen
onehundredandnineteen
onehundredandtwenty

In [48]:
big_num_word = ''

for i in range(1,1001):
    big_num_word += num_to_str(i)
len(big_num_word)

21124

### 18 Maximum path sum I

3

74

246

8593

3+7+4+9 = 23

In [49]:
tri = [[0,0,0,3,0,0,0],
       [0,0,7,0,4,0,0],
       [0,2,0,4,0,6,0],
       [8,0,5,0,9,0,3]]

In [50]:
len(tri[0])//2

3

In [51]:
tri[0][len(tri[0])//2]

3

In [52]:

# i = 0
# j = len(tri[0])//2

# sm = tri[i][j]

# while i < len(tri):
    
#     i += 1
    
#     if tri[i][j-1] > tri[i][j+1]:
        
#         sm += tri[i][j-1]
        
#         j -= 1
        
#     elif tri[i][j-1] < tri[i][j+1]:
        
#         sm += tri[i][j+1]
        
#         j += 1
        
#     else:
#         sm += tri[i][j+1]

In [55]:
with open('triangle.txt', 'r') as file:
    triangle = [[int(i) for i in line.split()] for line in file]

In [56]:
triangle[-1]

[4, 62, 98, 27, 23, 9, 70, 98, 73, 93, 38, 53, 60, 4, 23]

In [57]:
def greatest_triangle_path(triangle):
    while len(triangle) > 1:
        new_row = []
        for el in triangle[-2]:
            indx = triangle[-2].index(el)
            new_row.append(el + max(triangle[-1][indx], triangle[-1][indx +1]))

        triangle = triangle[:-1]
        triangle[-1] = new_row
    return triangle[0][0]

In [58]:
triangle

[[75],
 [95, 64],
 [17, 47, 82],
 [18, 35, 87, 10],
 [20, 4, 82, 47, 65],
 [19, 1, 23, 75, 3, 34],
 [88, 2, 77, 73, 7, 63, 67],
 [99, 65, 4, 28, 6, 16, 70, 92],
 [41, 41, 26, 56, 83, 40, 80, 70, 33],
 [41, 48, 72, 33, 47, 32, 37, 16, 94, 29],
 [53, 71, 44, 65, 25, 43, 91, 52, 97, 51, 14],
 [70, 11, 33, 28, 77, 73, 17, 78, 39, 68, 17, 57],
 [91, 71, 52, 38, 17, 14, 91, 43, 58, 50, 27, 29, 48],
 [63, 66, 4, 68, 89, 53, 67, 30, 73, 16, 69, 87, 40, 31],
 [4, 62, 98, 27, 23, 9, 70, 98, 73, 93, 38, 53, 60, 4, 23]]

In [59]:
greatest_triangle_path(triangle)

1074

In [60]:
import random

In [61]:
random.randint(1,100)

68

In [64]:
tri_rand = [[random.randint(1,100) for x in range(i)] for i in range(1,100)]
greatest_triangle_path(tri_rand)

7293

It's converging on (as long as depth is >> 10)

`depth * 75`

In [65]:
100*75

7500

In [66]:
import numpy as np

In [67]:
np.mean([greatest_triangle_path(tr) for tr in 
 [[[random.randint(1,100) for x in range(i)] for i in range(1,100)] for y in range(100)]])

7371.87

In [68]:
np.mean([max(random.randint(1,100),random.randint(1,100)) for i in range(10000)])

66.9294

The average of max( 1-100, 1-100) is 66.7 not! 75

Being able to choose the greatest path shifts the average up to 3/4 of the depth

In [71]:
np.mean([max(random.randint(1,100),random.randint(1,100), random.randint(1,100)) for i in range(10000)])

75.7918

This makes the triangle path look far more like max(1-100,1-100,1-100)

### 67 Big Triangle

In [72]:
with open('big_triangle.txt', 'r') as file:
    big_triangle = [[int(i) for i in line.split()] for line in file]

In [73]:
len(big_triangle)

100

In [74]:
greatest_triangle_path(big_triangle)

7220

In [75]:
big_triangle_2 = big_triangle

while len(big_triangle_2) > 1:
    new_row = []
    for el in big_triangle_2[-2]:
        indx = big_triangle_2[-2].index(el)
        new_row.append(el + max(big_triangle_2[-1][indx], big_triangle_2[-1][indx +1]))

    big_triangle_2 = big_triangle_2[:-1]
    big_triangle_2[-1] = new_row
    
    if len(big_triangle_2) < 10:
        print(big_triangle_2[-1])
        print(big_triangle_2[-2])

[6587, 6517, 6622, 6614, 6647, 6666, 6585, 6646, 6618]
[30, 28, 51, 76, 81, 18, 75, 44]
[6617, 6650, 6673, 6723, 6747, 6684, 6721, 6690]
[90, 81, 80, 38, 92, 67, 73]
[6740, 6754, 6803, 6785, 6839, 6788, 6794]
[61, 95, 66, 57, 25, 68]
[6815, 6898, 6869, 6896, 6864, 6862]
[10, 51, 87, 86, 81]
[6908, 6949, 6983, 6982, 6945]
[26, 53, 6, 34]
[6975, 7036, 6989, 7016]
[52, 40, 9]
[7088, 7076, 7025]
[73, 41]
[7161, 7117]
[59]
[7220]

IndexError: list index out of range

### Counting Sundays

You are given the following information, but you may prefer to do some research for yourself.

1 Jan 1900 was a Monday.

Thirty days has September,

April, June and November.

All the rest have thirty-one,

Saving February alone,

Which has twenty-eight, rain or shine.

And on leap years, twenty-nine.

A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.
How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [606]:
# This is just equivalence class of mod(7) (with some extra stuff)