### 21 Amicable numbers

Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n).
If d(a) = b and d(b) = a, where a ≠ b, then a and b are an amicable pair and each of a and b are called amicable numbers.

For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. The proper divisors of 284 are 1, 2, 4, 71 and 142; so d(284) = 220.

Evaluate the sum of all the amicable numbers under 10000.

In [7]:
import numpy as np

In [22]:
def divisors_lst(n):
    div_lst = []
    for i in range(1, int((np.sqrt(n)))+1):
        if n % i == 0:
            div_lst.append(i)
    for j in div_lst[1:]:
        div_lst.append(int(n/j))
    return list(set(div_lst))

In [32]:
sum(divisors_lst(sum(divisors_lst(220))))

220

In [55]:
am_lst =[]
for i in range(1,10000):
    a = sum(divisors_lst(i))
    b = sum(divisors_lst(a))
    if b == i and a!=b:
        am_lst.append([i, a])

sum([l for i in am_lst[::2] for l in i])

31626

### 22 Names scores

Using names.txt (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 × 53 = 49714.

What is the total of all the name scores in the file?

In [67]:
with open('names.txt', 'r') as file:
    names = [[i for i in name.split(',')] for name in file]

In [76]:
names = [name.replace('"', '') for name in names[0]]

In [79]:
names.sort()

In [81]:
names[:10]

['AARON',
 'ABBEY',
 'ABBIE',
 'ABBY',
 'ABDUL',
 'ABE',
 'ABEL',
 'ABIGAIL',
 'ABRAHAM',
 'ABRAM']

In [83]:
ord('a') -96

1

In [86]:
sm =0
for let in 'COLIN'.lower():
    sm += ord(let)-96
sm

53

In [90]:
[sum([ord(let.lower()) -96 for let in name]) for name in ['COLIN', 'AARON']]

[53, 49]

In [95]:
sum([sum([ord(let.lower()) -96 for let in name])*(names.index(name) +1) for name in names])

871198282